future==0.18.2
MouseInfo==0.1.2
Pillow==9.0.1
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pyngrok==2.1.2
pynput==1.6.8
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
PyYAML==5.4
six==1.14.0
